<div ng-controller="QSumCtrl" class="col-xs-12">
	<div class="row">
		<div class="col-xs-1">
			<button type="button" ng-click="upVote()" class="btn btn-default">
				<span class="glyphicon glyphicon-chevron-up"></span>
			</button>

		</div>

		<div class="col-xs-1">
			<p class="text-center" ng-bind="question.points">32</p>
		</div>

		<div class="col-xs-10">
			<a ng-href="#/q/{{question.id}}">
				<p ng-bind="question.question">
					How many roads must a man walk down before you can call him a man?
				</p>
			</a>
		</div>

	</div>
</div>